In [46]:
#Importint libraries and the dataset
import pandas as pd 

data = pd.read_csv('machinesensordata.csv')
data

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [47]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [48]:
#checking for null values
null_values = data.isnull().sum()
null_values

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [49]:
#label encoding
#Label encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in data.columns:
    if data[col].dtype == object:
        data[col] = le.fit_transform(data[col])
data

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,7003,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,1003,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,1004,1,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,1005,1,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,1006,1,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9997,2,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,1001,0,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,9998,2,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,1002,0,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,9999,2,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [50]:
#Splitting data into X and y
X = data.drop(['Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF'], axis=1)
X

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
0,1,7003,2,298.1,308.6,1551,42.8,0
1,2,1003,1,298.2,308.7,1408,46.3,3
2,3,1004,1,298.1,308.5,1498,49.4,5
3,4,1005,1,298.2,308.6,1433,39.5,7
4,5,1006,1,298.2,308.7,1408,40.0,9
...,...,...,...,...,...,...,...,...
9995,9996,9997,2,298.8,308.4,1604,29.5,14
9996,9997,1001,0,298.9,308.4,1632,31.8,17
9997,9998,9998,2,299.0,308.6,1645,33.4,22
9998,9999,1002,0,299.0,308.7,1408,48.5,25
9999,10000,9999,2,299.0,308.7,1500,40.2,30

In [51]:
y = data['Machine failure']
y

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Machine failure, Length: 10000, dtype: int64

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=100)

X_train

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
8369,8370,6042,1,298.8,309.7,1953,20.6,25
9722,9723,962,0,298.8,309.8,1911,21.6,126
6950,6951,686,0,300.7,311.3,1374,53.1,66
1919,1920,2138,1,298.2,308.0,1658,30.0,3
5713,5714,4433,1,302.2,311.9,1596,38.0,156
...,...,...,...,...,...,...,...,...
350,351,40,0,297.6,308.3,1400,44.3,43
79,80,1048,1,298.8,308.9,1402,37.9,2
8039,8040,5844,1,300.8,311.9,1560,31.8,21
6936,6937,5172,1,300.6,311.1,1471,40.7,26
5640,5641,4389,1,302.6,312.1,1420,51.6,182

In [53]:
X_test

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
8018,8019,5828,1,301.0,311.9,1889,23.5,198
9225,9226,6565,1,298.0,309.1,1820,23.6,120
3854,3855,3316,1,302.4,311.0,1338,67.6,194
2029,2030,2209,1,298.7,308.5,1668,35.2,77
3539,3540,3133,1,302.0,311.0,1686,32.5,25
...,...,...,...,...,...,...,...,...
6923,6924,5164,1,301.2,311.7,1433,49.3,206
1207,1208,7348,2,297.0,308.1,1573,34.9,93
7960,7961,779,0,301.1,312.2,1491,42.6,52
2339,2340,2397,1,299.2,308.2,1466,41.3,8
6637,6638,659,0,301.5,310.5,1453,48.0,124

In [54]:
#MODEL
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [55]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [56]:
y_train_pred

array([-0.0160571 ,  0.00785672,  0.07947583, ..., -0.09477457,
       -0.02612546,  0.13845457])

In [57]:
y_test_pred

array([ 0.0366917 , -0.02513449,  0.29932331, ...,  0.00663545,
        0.00058898,  0.11044786])

In [59]:
accuracy = r2_score(y_test, y_test_pred)
print(f"R-squared accuracy: {accuracy:.2f}")

R-squared accuracy: 0.14